.brandSection{
    /* border: 1px solid red; */
    padding: 10px;
}
.brandSection > h2 , .brandSection p{
    text-align: center;
    
}


.brandCategory_outer{
    /* border: 1px solid blue; */
    margin-top: 30px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}

.brandCategory_outer > div{
    width: 270px;
    height: 250px;
    /* border: 1px solid red; */
    padding: 30px 30px 10px 30px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: 0.5s;
    cursor: pointer;
}

.brandCategory_outer > div > div{
    width: 100%;
    height: 85%;
    /* border:1px solid green; */
}
.brandCategory_outer > div > div > img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.brandCategory_outer h3{
    color: rgb(36, 35, 35);
    margin-top: 5px;
    letter-spacing: 2px;
}

.brandCategory_outer > div:hover{
    transform: scale(1.07);
}

.brandCategory_outer > div:hover img{
    transform: scale(1.1);
}

@media (max-width:886px){ 

    .brandCategory_outer{
        padding: 0px 10px;
    }

    .brandCategory_outer > div{
        margin-top: 0px;
        width: 230px;
        height: 220px
    }

    .tab_res{
        display: none;
    }

   }

@media (max-width: 500px){  
    .brandCategory_outer{
        padding: 0px 60px;
        flex-direction: column;
    }

    .brandCategory_outer > div{
        margin-top: 20px;
    }
  }


  
