.box > button{
      width: 250px;
      margin: auto;
      height: 50px;
      border: none;
      background: brown;
      color: white;
}
.box > h1{
    font-family: 'Courier New', Courier, monospace;
}
.box{
    text-align: center;
}
.div > p{
    margin-left: 20px;
    font-size: xx-large;
    font-family: Courier New;
}
.div{
    border-bottom: 1px solid rgb(51, 43, 43);
}