.head{
    border-bottom: 1px solid #666;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    margin: auto;
    padding-top: 60px;
}
.head >p{
    font-size: 25px;
  line-height: 1;
  font-weight: 600;
  color: #555;
  letter-spacing: 4px;
  font-family: Courier,Helvetica, sans-serif;
  text-transform: none;
}
.head > button{
    width: 25%;
    height: 48px;
    border: none;
    padding: 8px 16px;
    background-color: #3f2a2d;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Courier New';
}