.registerconatiner{
        width: 25%;
        margin: auto;
        text-align: center;
        color: #4E3B3D;
        
   
}
.registerform{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.registerform div{
    display: flex;
    flex-direction: row;
}
.registerform div span{
    margin-top: 5%;
}

.registerlinks{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}
.registerlinksdata{
    text-decoration: none;
    color: #584649;
}

.registerform input{
    padding: 9px 5px;
}
.registerform input:last-child{
    background-color: #3F2A2D;
    color: white;
    border: none;
    padding: 15px 0px 12px 0px;
    cursor: pointer;
}
.registerform input:last-child:hover{
    background-color: #FF8771;
    color: white;
    border: none;
    padding: 15px 0px 12px 0px;
    cursor: pointer;
}